*.gcda
*.gcno
*.lo
*.log
*.o
*.trs
*~
/ABOUT-NLS
/ChangeLog
/INSTALL
/aclocal.m4
/autom4te.cache/
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.rpath
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/mdate-sh
/build-aux/missing
/build-aux/test-driver
/build-aux/texinfo.tex
/config.h
/config.h.in
/config.log
/config.status
/configure
/contrib/doxygen/Doxyfile
/contrib/doxygen/doxygen_sqlite3.db
/contrib/doxygen/html/
/contrib/doxygen/latex/
/csharp/CombiningClass.cs
/csharp/Composition.cs
/csharp/CompositionExclusions.txt
/csharp/DecompositionKeys.cs
/csharp/DecompositionMappings.cs
/csharp/GenerateTables.exe
/csharp/Libidn.dll
/csharp/RFC3454.cs
/csharp/UnicodeData.txt
/csharp/rfc3454.txt
/csharpcomp.sh
/csharpexec.sh
/doc/Makefile.gdoc
/doc/coverage/
/doc/cyclo/cyclo-libidn.html
/doc/idn.1
/doc/java/about.html
/doc/java/alphaindex.html
/doc/java/deprecated.html
/doc/java/gjdoc.properties
/doc/java/gnu/
/doc/java/html/
/doc/java/index.html
/doc/java/package-list
/doc/java/resources/
/doc/java/serialized-form.html
/doc/libidn-components.eps
/doc/libidn-components.pdf
/doc/libidn-components.png
/doc/libidn.aux
/doc/libidn.cp
/doc/libidn.cps
/doc/libidn.dvi
/doc/libidn.fn
/doc/libidn.fns
/doc/libidn.html
/doc/libidn.info
/doc/libidn.ky
/doc/libidn.log
/doc/libidn.pdf
/doc/libidn.pg
/doc/libidn.ps
/doc/libidn.t2d/
/doc/libidn.t2p/
/doc/libidn.toc
/doc/libidn.tp
/doc/libidn.vr
/doc/libidn.vrs
/doc/man/
/doc/reference/html-build.stamp
/doc/reference/html.stamp
/doc/reference/html/
/doc/reference/libidn-decl-list.txt
/doc/reference/libidn-decl-list.txt.bak
/doc/reference/libidn-decl.txt
/doc/reference/libidn-decl.txt.bak
/doc/reference/libidn-overrides.txt
/doc/reference/libidn-sections.txt
/doc/reference/libidn-undeclared.txt
/doc/reference/libidn-undocumented.txt
/doc/reference/libidn-unused.txt
/doc/reference/libidn.args
/doc/reference/libidn.hierarchy
/doc/reference/libidn.interfaces
/doc/reference/libidn.pdf
/doc/reference/libidn.prerequisites
/doc/reference/libidn.signals
/doc/reference/libidn.types
/doc/reference/pdf-build.stamp
/doc/reference/pdf.stamp
/doc/reference/scan-build.stamp
/doc/reference/setup-build.stamp
/doc/reference/sgml-build.stamp
/doc/reference/sgml.stamp
/doc/reference/tmpl-build.stamp
/doc/reference/tmpl.stamp
/doc/reference/tmpl/
/doc/reference/version.xml
/doc/reference/xml/
/doc/stamp-vti
/doc/texi/
/doc/version.texi
/examples/.deps/
/examples/.libs/
/examples/example
/examples/example2
/examples/example3
/examples/example4
/examples/example5
/fuzz/.deps/
/fuzz/libidn_*_fuzzer
/fuzz/libidn_*_fuzzer.new/
/gl/.deps/
/gl/.libs/
/gl/alloca.h
/gl/fcntl.h
/gl/getopt.h
/gl/libgnu.la
/gl/limits.h
/gl/math.h
/gl/stddef.h
/gl/stdio.h
/gl/stdlib.h
/gl/string.h
/gl/sys/
/gl/time.h
/gl/unistd.h
/gl/vfprintf.lo
/gl/wchar.h
/gltests/.deps/
/gltests/alloca.h
/gltests/arpa/
/gltests/ctype.h
/gltests/fcntl.h
/gltests/glthread/.deps/
/gltests/glthread/.dirstamp
/gltests/inttypes.h
/gltests/libtests.a
/gltests/pthread.h
/gltests/sched.h
/gltests/signal.h
/gltests/stdio.h
/gltests/stdlib.h
/gltests/sys/
/gltests/test-accept
/gltests/test-alloca-opt
/gltests/test-arpa_inet
/gltests/test-binary-io
/gltests/test-bind
/gltests/test-c-ctype
/gltests/test-cloexec
/gltests/test-close
/gltests/test-connect
/gltests/test-ctype
/gltests/test-dup2
/gltests/test-environ
/gltests/test-errno
/gltests/test-fcntl
/gltests/test-fcntl-h
/gltests/test-fdopen
/gltests/test-fgetc
/gltests/test-float
/gltests/test-fputc
/gltests/test-fread
/gltests/test-frexp-nolibm
/gltests/test-frexpl-nolibm
/gltests/test-fseterr
/gltests/test-fstat
/gltests/test-ftruncate
/gltests/test-fwrite
/gltests/test-getcwd-lgpl
/gltests/test-getdelim
/gltests/test-getdtablesize
/gltests/test-getline
/gltests/test-getopt
/gltests/test-getopt-gnu
/gltests/test-getopt-posix
/gltests/test-getprogname
/gltests/test-gettimeofday
/gltests/test-ignore-value
/gltests/test-inet_pton
/gltests/test-intprops
/gltests/test-inttypes
/gltests/test-ioctl
/gltests/test-isblank
/gltests/test-isnand-nolibm
/gltests/test-isnanf-nolibm
/gltests/test-isnanl-nolibm
/gltests/test-limits-h
/gltests/test-listen
/gltests/test-lock
/gltests/test-lstat
/gltests/test-malloca
/gltests/test-math
/gltests/test-memchr
/gltests/test-nanosleep
/gltests/test-netinet_in
/gltests/test-once1
/gltests/test-once2
/gltests/test-open
/gltests/test-pathmax
/gltests/test-perror
/gltests/test-perror2
/gltests/test-pipe
/gltests/test-printf-frexp
/gltests/test-printf-frexpl
/gltests/test-pthread
/gltests/test-pthread-thread
/gltests/test-pthread_sigmask1
/gltests/test-pthread_sigmask2
/gltests/test-raise
/gltests/test-rwlock1
/gltests/test-sched
/gltests/test-select
/gltests/test-select-fd
/gltests/test-select-stdin
/gltests/test-setenv
/gltests/test-setsockopt
/gltests/test-sigaction
/gltests/test-signal-h
/gltests/test-signbit
/gltests/test-sigprocmask
/gltests/test-sleep
/gltests/test-sockets
/gltests/test-stat
/gltests/test-stat-time
/gltests/test-stdalign
/gltests/test-stdbool
/gltests/test-stddef
/gltests/test-stdint
/gltests/test-stdio
/gltests/test-stdlib
/gltests/test-strerror
/gltests/test-strerror_r
/gltests/test-string
/gltests/test-symlink
/gltests/test-sys_ioctl
/gltests/test-sys_select
/gltests/test-sys_socket
/gltests/test-sys_stat
/gltests/test-sys_time
/gltests/test-sys_types
/gltests/test-sys_uio
/gltests/test-sys_wait
/gltests/test-thread_create
/gltests/test-thread_self
/gltests/test-time
/gltests/test-unistd
/gltests/test-unsetenv
/gltests/test-usleep
/gltests/test-vasnprintf
/gltests/test-verify
/gltests/test-version-etc
/gltests/test-vfprintf-posix
/gltests/test-wchar
/gltests/time.h
/gltests/wchar.h
/gtk-doc.make
/java/libidn-*.jar
/java/pom.xml
/java/src/main/java/gnu/inet/encoding/CombiningClass.class
/java/src/main/java/gnu/inet/encoding/Composition.class
/java/src/main/java/gnu/inet/encoding/DecompositionKeys.class
/java/src/main/java/gnu/inet/encoding/DecompositionMappings.class
/java/src/main/java/gnu/inet/encoding/IDNA.class
/java/src/main/java/gnu/inet/encoding/IDNAException.class
/java/src/main/java/gnu/inet/encoding/NFKC.class
/java/src/main/java/gnu/inet/encoding/Punycode.class
/java/src/main/java/gnu/inet/encoding/PunycodeException.class
/java/src/main/java/gnu/inet/encoding/RFC3454.class
/java/src/main/java/gnu/inet/encoding/RangeSet$1.class
/java/src/main/java/gnu/inet/encoding/RangeSet$Builder.class
/java/src/main/java/gnu/inet/encoding/RangeSet$Range.class
/java/src/main/java/gnu/inet/encoding/RangeSet$RangeContainsComparator.class
/java/src/main/java/gnu/inet/encoding/RangeSet.class
/java/src/main/java/gnu/inet/encoding/Stringprep.class
/java/src/main/java/gnu/inet/encoding/StringprepException.class
/java/src/main/java/gnu/inet/encoding/classnoinst.stamp
/java/src/util/java/GenerateNFKC.class
/java/src/util/java/GenerateRFC3454$Range.class
/java/src/util/java/GenerateRFC3454.class
/java/src/util/java/TestIDNA.class
/java/src/util/java/TestNFKC.class
/java/src/util/java/classnoinst.stamp
/java/target
/lib/.deps/
/lib/.libs/
/lib/gl/.deps/
/lib/gl/.libs/
/lib/gl/c-strncasecmp.lo
/lib/gl/iconv.h
/lib/gl/iconv_open-aix.h
/lib/gl/iconv_open-hpux.h
/lib/gl/iconv_open-irix.h
/lib/gl/iconv_open-osf.h
/lib/gl/iconv_open-solaris.h
/lib/gl/iconv_open-zos.h
/lib/gl/libgnu.la
/lib/gl/limits.h
/lib/gl/stddef.h
/lib/gl/striconv.lo
/lib/gl/string.h
/lib/gl/sys/
/lib/gl/unistr.h
/lib/gl/unistr/.deps/
/lib/gl/unistr/.dirstamp
/lib/gl/unistr/.libs/
/lib/gl/unistr/unistr
/lib/gl/unitypes.h
/lib/gl/wchar.h
/lib/gltests/.deps/
/lib/gltests/alloca.h
/lib/gltests/arpa/
/lib/gltests/ctype.h
/lib/gltests/fcntl.h
/lib/gltests/glthread/.deps/
/lib/gltests/glthread/.dirstamp
/lib/gltests/glthread/glthread
/lib/gltests/inttypes.h
/lib/gltests/langinfo.h
/lib/gltests/libtests.a
/lib/gltests/locale.h
/lib/gltests/pthread.h
/lib/gltests/sched.h
/lib/gltests/signal.h
/lib/gltests/stdio.h
/lib/gltests/stdlib.h
/lib/gltests/sys/
/lib/gltests/test-accept
/lib/gltests/test-alloca-opt
/lib/gltests/test-arpa_inet
/lib/gltests/test-binary-io
/lib/gltests/test-bind
/lib/gltests/test-c-ctype
/lib/gltests/test-c-strcasecmp
/lib/gltests/test-c-strncasecmp
/lib/gltests/test-cloexec
/lib/gltests/test-close
/lib/gltests/test-connect
/lib/gltests/test-ctype
/lib/gltests/test-dup2
/lib/gltests/test-environ
/lib/gltests/test-errno
/lib/gltests/test-fcntl
/lib/gltests/test-fcntl-h
/lib/gltests/test-fdopen
/lib/gltests/test-fgetc
/lib/gltests/test-fputc
/lib/gltests/test-fread
/lib/gltests/test-fstat
/lib/gltests/test-ftruncate
/lib/gltests/test-fwrite
/lib/gltests/test-getcwd-lgpl
/lib/gltests/test-getdtablesize
/lib/gltests/test-gettimeofday
/lib/gltests/test-iconv
/lib/gltests/test-iconv-h
/lib/gltests/test-ignore-value
/lib/gltests/test-inet_pton
/lib/gltests/test-intprops
/lib/gltests/test-inttypes
/lib/gltests/test-ioctl
/lib/gltests/test-isblank
/lib/gltests/test-langinfo
/lib/gltests/test-limits-h
/lib/gltests/test-listen
/lib/gltests/test-locale
/lib/gltests/test-localename
/lib/gltests/test-lock
/lib/gltests/test-lstat
/lib/gltests/test-malloca
/lib/gltests/test-nanosleep
/lib/gltests/test-netinet_in
/lib/gltests/test-once.c
/lib/gltests/test-once1
/lib/gltests/test-once2
/lib/gltests/test-open
/lib/gltests/test-pathmax
/lib/gltests/test-perror
/lib/gltests/test-perror2
/lib/gltests/test-pipe
/lib/gltests/test-pthread
/lib/gltests/test-pthread-thread
/lib/gltests/test-pthread_sigmask1
/lib/gltests/test-pthread_sigmask2
/lib/gltests/test-raise
/lib/gltests/test-rwlock1
/lib/gltests/test-sched
/lib/gltests/test-select
/lib/gltests/test-select-fd
/lib/gltests/test-select-stdin
/lib/gltests/test-setenv
/lib/gltests/test-setlocale1
/lib/gltests/test-setlocale2
/lib/gltests/test-setlocale_null
/lib/gltests/test-setlocale_null-mt-all
/lib/gltests/test-setlocale_null-mt-one
/lib/gltests/test-setsockopt
/lib/gltests/test-sigaction
/lib/gltests/test-signal-h
/lib/gltests/test-sigprocmask
/lib/gltests/test-sleep
/lib/gltests/test-sockets
/lib/gltests/test-stat
/lib/gltests/test-stat-time
/lib/gltests/test-stdalign
/lib/gltests/test-stdbool
/lib/gltests/test-stddef
/lib/gltests/test-stdint
/lib/gltests/test-stdio
/lib/gltests/test-stdlib
/lib/gltests/test-strerror
/lib/gltests/test-strerror_r
/lib/gltests/test-striconv
/lib/gltests/test-string
/lib/gltests/test-strverscmp
/lib/gltests/test-symlink
/lib/gltests/test-sys_ioctl
/lib/gltests/test-sys_select
/lib/gltests/test-sys_socket
/lib/gltests/test-sys_stat
/lib/gltests/test-sys_time
/lib/gltests/test-sys_types
/lib/gltests/test-sys_uio
/lib/gltests/test-thread_create
/lib/gltests/test-thread_self
/lib/gltests/test-time
/lib/gltests/test-u8-check
/lib/gltests/test-u8-mbtoucr
/lib/gltests/test-u8-uctomb
/lib/gltests/test-unistd
/lib/gltests/test-unsetenv
/lib/gltests/test-usleep
/lib/gltests/test-verify
/lib/gltests/test-wchar
/lib/gltests/time.h
/lib/gltests/unistd.h
/lib/gltests/unistr/.deps/
/lib/gltests/unistr/.dirstamp
/lib/gltests/unistr/unistr
/lib/gltests/wchar.h
/lib/idn-int.h
/lib/libidn.la
/lib/rfc3454.c
/lib/rfc3454.h
/lib/tlds.c
/libidn-*.tar.gz
/libidn-*.tar.gz.sig
/libidn.pc
/libtool
/m4/codeset.m4
/m4/extern-inline.m4
/m4/fcntl-o.m4
/m4/gettext.m4
/m4/glibc2.m4
/m4/glibc21.m4
/m4/gtk-doc.m4
/m4/iconv.m4
/m4/intdiv0.m4
/m4/intl.m4
/m4/intldir.m4
/m4/intlmacosx.m4
/m4/intmax.m4
/m4/inttypes-pri.m4
/m4/inttypes_h.m4
/m4/lcmessage.m4
/m4/lib-ld.m4
/m4/lib-link.m4
/m4/lib-prefix.m4
/m4/libtool.m4
/m4/lock.m4
/m4/longlong.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/nls.m4
/m4/po.m4
/m4/printf-posix.m4
/m4/progtest.m4
/m4/size_max.m4
/m4/stdint_h.m4
/m4/threadlib.m4
/m4/uintmax_t.m4
/m4/visibility.m4
/m4/wchar_t.m4
/m4/xsize.m4
/po/*.gmo
/po/*.po
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@boldquot.insert-header
/po/en@quot.header
/po/en@quot.insert-header
/po/insert-header.sin
/po/libidn.pot
/po/quot.sed
/po/remove-potcdate.sed
/po/remove-potcdate.sin
/po/stamp-po
/pom.xml
/scan.tmp
/src/.deps/
/src/.libs/
/src/idn
/src/idn_cmd.c
/src/idn_cmd.h
/src/libidn_cmd.la
/stamp-h1
/tests/.deps/
/tests/libutils.a
/tests/tst_badutf8
/tests/tst_badutf8nfkc
/tests/tst_idna
/tests/tst_idna2
/tests/tst_idna3
/tests/tst_idna4
/tests/tst_nfkc
/tests/tst_pr29
/tests/tst_punycode
/tests/tst_strerror
/tests/tst_stringprep
/tests/tst_symbols
/tests/tst_tld
/tests/tst_toascii64oob
/tests/tst_toutf8
/tests/tst_utf8crash
/windows/libidn-*-win??.zip
/windows/libidn-*-win??.zip.sig
/windows/tmp32
/windows/tmp64
Makefile
Makefile.in
